<!DOCTYPE html>
<html>
    <header>
        <!-- Styles -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>
            #chartdiv {
                width: 100%;
                height: 500px;
                max-width: 100%
            }
        </style>

        <!-- Resources -->
        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
        <title>tempLogger {{ .Page }}</title>
    </header>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">tempLogger</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            {{ if eq "Daily" .Page }}
                            <a class="nav-link active" aria-current="page" href="/">Daily</a>
                            {{ else }}
                            <a class="nav-link" href="/">Daily</a>
                            {{ end }}
                        </li>
                        <li class="nav-item">
                            {{ if eq "Weekly" .Page }}
                            <a class="nav-link active" aria-current="page" href="/weekly">Weekly</a>
                            {{ else }}
                            <a class="nav-link" href="/weekly">Weekly</a>
                            {{ end }}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container my-5">
            <h1>Temperatures: {{ .Page }}</h1>
            {{ if (eq 3 (len .Summaries)) }}
            <div class="col-lg-8 px-0">
                <ul>
                    <li>Max Temperature
                        <ul>
                            <li>Outside: {{ (index .Summaries 0).MaxTemp.Value }} F</li>
                            <li>Sensor1: {{ (index .Summaries 1).MaxTemp.Value }} F</li>
                            <li>Sensor2: {{ (index .Summaries 2).MaxTemp.Value }} F</li>
                        </ul>
                    </li>
                    <li>Min Temperature
                        <ul>
                            <li>Outside: {{ (index .Summaries 0).MinTemp.Value }} F</li>
                            <li>Sensor1: {{ (index .Summaries 1).MinTemp.Value }} F</li>
                            <li>Sensor2: {{ (index .Summaries 2).MinTemp.Value }} F</li>
                        </ul>
                    </li>
                    <li>Last Temperature
                        <ul>
                            <li>Outside: {{ (index .Summaries 0).LastTemp.Value }} F</li>
                            <li>Sensor1: {{ (index .Summaries 1).LastTemp.Value }} F</li>
                            <li>Sensor2: {{ (index .Summaries 2).LastTemp.Value }} F</li>
                        </ul>
                    </li>
                </ul>
                
                <hr class="col-1 my-4">
                
            </div>
            <div id="chartdiv"></div>
            {{ else }}
            <div class="col-lg-8 px-0">
                <p>No data is available.</p>
            </div>
            {{ end }}
        </div>
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {{ if (eq 3 (len .Summaries)) }}
        <!-- Chart code -->
        <script>
            am5.ready(function() {
            
            
            // Create root element
            // https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("chartdiv");
            
            
            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
            am5themes_Animated.new(root)
            ]);
            
            
            // Create chart
            // https://www.amcharts.com/docs/v5/charts/xy-chart/
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
            panX: true,
            panY: true,
            wheelX: "panX",
            wheelY: "zoomX",
            pinchZoomX:true,
            paddingLeft: 0
            }));
            
            
            // Add cursor
            // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
            behavior: "none"
            }));
            cursor.lineY.set("visible", false);
            
            var tlPage = {{ . }};
            
            // Create axes
            // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
            maxDeviation: 0.2,
            baseInterval: {
                timeUnit: "minute",
                count: 1
            },
            renderer: am5xy.AxisRendererX.new(root, {
                minorGridEnabled:true
            }),
            tooltip: am5.Tooltip.new(root, {})
            }));
            
            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
            renderer: am5xy.AxisRendererY.new(root, {
                pan:"zoom"
            })  
            }));
            
            yAxis.children.moveValue(am5.Label.new(root, { text: "Temperature: Degrees F", 
            rotation: -90, y: am5.p50, centerX: am5.p50 }), 0);
            
            // Add series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var series = chart.series.push(am5xy.LineSeries.new(root, {
            name: "Sensor1 temps",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "value",
            valueXField: "date",
            tooltip: am5.Tooltip.new(root, {
                labelText: "[bold]{name}[/]\n{valueY}"
            })
            }));
            
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var series2 = chart.series.push(am5xy.LineSeries.new(root, {
            name: "Sensor2 temps",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "value",
            valueXField: "date",
            fill: am5.color(0xffa500),
            stroke: am5.color(0xffa500),
            tooltip: am5.Tooltip.new(root, {
                labelText: "[bold]{name}[/]\n{valueY}"
            })
            }));
            // Add series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var seriesOutside = chart.series.push(am5xy.LineSeries.new(root, {
            name: "Outside temps",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "value",
            valueXField: "date",
            fill: am5.color(0xff0000),
            stroke: am5.color(0xff0000),
            tooltip: am5.Tooltip.new(root, {
                labelText: "[bold]{name}[/]\n{valueY}"
            })
            }));
            
            // Add scrollbar
            // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
            chart.set("scrollbarX", am5.Scrollbar.new(root, {
            orientation: "horizontal"
            }));
            
            
            // Set data
            series.data.setAll(tlPage.summaries[1].tlData);
            series2.data.setAll(tlPage.summaries[2].tlData);
            seriesOutside.data.setAll(tlPage.summaries[0].tlData);
            
            
            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            chart.appear(1000, 100);
            
            }); // end am5.ready()
            </script>
        {{ end }} 
    </body>
</html>